<p id="notice"><%= notice %></p>

<h1>Listing Venues</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %> </td>
        <td><%= venue.full_address %> </td>
        <td><%= link_to 'Show', venue, class: 'btn btn-block btn-primary' %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue), class: 'btn btn-block btn-warning'%></td>
        <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>